# RHEL7 / CentOS-7 Kickstart file

# Install OS instead of upgrade
install

# Install from a cdrom (iso)
cdrom

# Agree to EULA
eula --agreed

# System language
lang en_US.UTF-8

# System keyboard
keyboard us

# System timezone
timezone Asia/Ho_Chi_Minh

# Perform the kickstart installation in text
text

# If present, X is not configured on the installed system
skipx

# Setup network interfaces via DHCP
network --bootproto=dhcp --noipv6 --onboot=on --device=eth0

# Set root pw here (required by KS), remove pw in post
rootpw --plaintext vagrant

# Firewall switch
firewall --disabled

# SELinux switch
selinux --disabled

# System bootloader configuration
bootloader --location=mbr --timeout=2

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel

# Automatically create partitions, no LVM
autopart --type=lvm

# Set up the authentication options for the system
auth --enableshadow --passalgo=sha512

# The Setup Agent is not started the first time the system boots
firstboot --disabled

# Services
services --enabled=ntpd,ntpdate,NetworkManager,sshd

# Setup Vagrant specifics
user --name=vagrant --plaintext --password vagrant --groups=vagrant,wheel

# Completion method
reboot

# Define package groups and single packages (@Base and @Core are defaults)
%packages --nobase --ignoremissing --excludedocs --instLangs=en_US.utf8
# vagrant needs this to copy initial files via scp
@Core
@Development Tools
kernel-devel
openssh-clients
sudo
selinux-policy-devel
wget
nfs-utils
net-tools
tar
bzip2
deltarpm
rsync
-fprintd-pam
-intltool
coreutils
yum-utils
system-config-firewall-base

# unnecessary firmware
-*firmware
-microcode_ctl
%end

%post

# Add the vagrant user to sudoers
echo 'Defaults:vagrant !requiretty' > /etc/sudoers.d/vagrant
echo '%vagrant ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
chmod 440 /etc/sudoers.d/vagrant

echo "End of Kickstart"

%end

